.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--app-bg-body);
  transition: background-color 0.3s ease-in-out;
}

*, *::before, *::after {
  box-sizing: border-box;
}