.app-footer{
    margin-top: auto;
    padding: 20px;
    width: 100vw;
    height: 200px;
    border-top: 1px solid var(--app-border-color);
    box-shadow: 0 -2px 10px -2px var(--app-shadow-color);
    display: flex;
    flex-direction: column;
}

.app-footer-FirstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.app-footer-SecondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}