.flight-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: var(--app-bg-card);
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--app-border-color);
}
.flight-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.flight-date-and-airline{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flight-date, .flight-airline{
    display: flex;
    gap: 4px;
}
.flight-timeline{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
}
.flight-departure-section, .flight-return-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}
.flight-duration-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.flight-duration-section p{
    font-size: 13px;
}
.flight-duration-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 12px;
    margin: 0 12px;
    align-items: center;
}

.flight-price{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0 8px 24px;
    min-width: 120px;
    border-left: 1px solid var(--app-border-color);
}

.flight-price h2{
    font-size: 32px;
}

.flight-price a{
    width: 100%;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: rgb(0, 160, 255);
    color: var(--app-text-primary);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}