:root {
  color-scheme: light;
  --app-bg-body: #f5f5f5;
  --app-bg-card: #ffffff;
  --app-text-primary: black;
  --app-text-secondary: #393939;
  --app-text-placeholder: #6b7280;
  --app-border-color: #e0e0e0;
  --app-shadow-color: rgba(0, 0, 0, 0.15);
  --app-input-bg: #ffffff;
  --app-input-bg-hover: #f0f0f0;
  --app-button-bg:#f5f5f5;
  --app-button-bg-hover: #e7e7e7;
  --app-header-bg: #f8f9fa;
  --app-accent-gradient: linear-gradient(90deg, rgb(0, 123, 255), rgb(0, 198, 255));
  --mantine-color-body: var(--app-bg-body);
  --app-calendar-hover: #f7f7f7;
  --app-calendar-bg: white;
  --app-calendar-selected: rgba(0, 200, 255, 0.35); 
  --app-calendar-weekend-color: rgb(220, 0, 0);
  --app-date-toggle-bg: #E9E9EA;
}

:root.dark-mode {
  color-scheme: dark;
  --app-bg-body: #1a1b1e;
  --app-bg-card: #1d1e22;
  --app-text-primary: white;
  --app-text-secondary: #e1e1e1;
  --app-text-placeholder: #b2b2b2;
  --app-border-color: #373a40;
  --app-shadow-color: rgba(0, 0, 0, 0.4);
  --app-input-bg: #1d1e22;
  --app-input-bg-hover: #2c2e33;
  --app-button-bg: #1c1d21;
  --app-button-bg-hover: #161718;
  --app-header-bg: #141517;
  --app-calendar-hover: #2c2d31;
  --app-calendar-bg: #2f3036;
  --app-calendar-selected: rgba(0, 180, 255, 0.8);
  --app-calendar-weekend-color: rgb(255, 80, 80);
  --app-date-toggle-bg: #373a40;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--app-bg-body);
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-bg-body);
  color: var(--app-text-primary);
  margin: 0;
  padding: 0;
}